<!-- main app container -->
<div class="jumbotron" style="padding:40px;">
    <div style="color:#222222;font-size:32px">Subscriber1</div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div *ngIf="message1" class="alert alert-success">{{message1.text}}</div>
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-8 col-sm-offset-2">
            <div *ngIf="message2" class="alert alert-info">{{message2.text}}</div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<app2>APP2</app2>
<home>APP2</home>